.top-nav {
  background: var(--brand);
  color: fff;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.nav_mail a {
  display: inline-flex;
  padding: 0.5rem 0;
  color: #fff;
  align-items: center;
}
.nav_mail a i {
  color: #fff;
  margin-right: 0.5rem;
  padding: 0 0.5rem;
}
.social-icon {
  text-align: center;
  margin: auto 0;
}

.social-icon a {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
  display: inline-flex;
  text-decoration: none;
  transition: all linear 0.5s;
}
.social-icon a i {
  color: #fff;
  margin: auto auto;
  font-size: 1.2rem;
}
.social-icon a:hover {
  background: #fff;
}
.social-icon a:hover i {
  color: var(--brand);
}

/* Nav bar design */

.navbar-nav .nav-item {
  text-align: center;
}
.navbar-nav .nav-item .nav-link {
  color: var(--dark);
}

.active {
  color: var(--brand);
}

.navbar-nav .nav-item .nav-link:hover {
  color: var(--brand);
}
.navbar-nav .nav-item:last-child {
  color: var(--dark);
  background: var(--brand);
  justify-items: center;
  border-radius: 0.2rem;
  margin-left: 1rem;
}
.navbar-nav .nav-item:last-child a {
  color: white;
}
.navbar-nav .nav-item:last-child a:hover {
  color: white;
  background-color: #d64022;
}

.btn {
  padding: 0.5rem 1.8rem;
}
.btn-brand {
  background-color: var(--brand);
  background-color: var(--brand);
  color: #fff;
}
.btn-brand:hover {
  background-color: #d64022;
  border-color: #d64022;
  color: #fff;
}
.navbar button {
  padding: 0.2rem 0.7rem;
  border: 1px solid rgba(191, 182, 182, 0.8);
  border-radius: 0.2rem;
  background: transparent;
}
.navbar button span {
  font-size: 1.2rem;
  color: rgba(22, 20, 20, 0.8);
}
.brand_text {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  position: relative;
}
.brand_text .dot {
  position: absolute;
  left: auto;
  margin: 0;
  padding: 0;
}
h3 {
  color: green;
}

/* Slider */

.hero-slider .owl-prev,
.hero-slider .owl-next {
  background-color: rgba(255, 255, 255, 0.3) !important;
  width: 3.75rem !important;
  height: 3.75rem !important;
  display: block;
  display: grid;
  place-items: center;
  color: #fff !important;
  border-radius: 6.25rem !important;
  line-height: 0;
  position: absolute;
  top: 50%;
  font-weight: 600btn-outline-light !important;
  font-size: 0.9rem !important;
  transition: all 0.4s ease;
  margin-top: -1.9rem !important;
}
.owl-prev {
  left: 0;
}
.owl-next {
  right: 0;
}
.owl-prev:hover,
.owl-next:hover {
  background-color: var(--brand) !important ;
}

.owl-dot.active span {
  background-color: var(--brand) !important ;
}

.slide {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.slide1 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/bg_banner2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide2 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/bg_banner1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.slide .display-3 {
  text-transform: uppercase;
  color: #fff;
}
.crosal_h1 {
  font-size: 8rem;
}

.info-box img {
  width: 5.63rem;
}

.milestone_section {
  background: linear-gradient(rgba(255, 77, 41, 0.8), rgba(255, 77, 41, 0.5)),
    url(../img/bg_banner1.jpg);
  background-position: center;
  background-blend-mode: color-burn;
}
.service_section {

}
.service_cards_all {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.service_card {
  box-shadow: 2px 3px 30px rgba(0, 0, 0, 0.4);
}

/* Carosal Project Section */

.project {
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.project h6 {
  font-weight: 400;
}
.project h6::before {
  content: "";
  height: 2px;
  width: 30px;
  display: inline-block;
  background: var(--brand);
  vertical-align: middle;
  margin-right: 10px;
}

.project .overlay {
  width: 100%;
  height: 220px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 76, 41, 0) 0%,
    var(--dark) 100%
  );
}

.project .content {
  position: absolute;
  left: 10%;
  bottom: 10%;
}

.project h2,
.project h6 {
  color: #fff;
}
.work_section{
background-color:var(--bs-gray-100)
}


.team-member .image{
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.team-member .overlay{
  width:100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: -10%;
  background-color: rgba(255, 77, 41, 0.7);
  opacity: 0;
  transition: all 0.4s ease;
}

.team-member .social-icon{
  position:absolute;
  top:60%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0;
  transition: all 0.4s ease;
}

.team-member .social-icons a {
  width: 40px;
  height: 40px;
}

.team-member:hover .social-icon{
  top:50%;
  opacity: 1;
}

.team-member:hover .overlay{
  top:0;
  opacity: 1;
}

.team-member h5{
  color:var(--bs-gray-900);
  padding-top:1.5rem;
}

#reviews{
  background: linear-gradient(-90deg, rgba(8, 32, 50, 0.8), 
  rgba(8, 32, 50, 0.8)), url(../img/bg_banner1.jpg), #082032;;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.review{
  text-align: center;
  z-index: 2;
  position: relative;
  margin: 15px;
  max-width: 768px;
  margin:auto;
}

.review img{
  width:80px !important;
  height:80px;
  border-radius: 100px;
  margin:auto;
}
.review h3{
  font-size: 1.3rem;
  line-height:1.5rem;
  font-weight: 400;
}

.blog_item{
  position: relative;
  background-color: #fff;
  box-shadow:0px 0px 30px rgba(0, 0, 0, 0.1);
}
.blog_item .content{
  padding:32px;
}
.blog_item a{
  position: absolute;
  top:20px;
  left:20px;
  background-color: var(--brand);
  border-radius: 100px;
  text-decoration: none;
  color:#fff;
}